h1{color:rgb(255, 21, 0);
    font-family:sans-serif;
   
}

.parrafo{
    font-family: 'Times New Roman', Times, serif;
}

.disco{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    font-size: larger;
}
body{
    background-color: rgb(231, 229, 229);
}

.lista{
    font-family: 'Times New Roman', Times, serif;
}
